@value colors: "./color.module.css";
@value color1, color2, color3, color4, color5, color6, color7 from colors;

.contenido img{
    position: absolute;
    top: -1vw; left: -15vw;
    margin: 0;
    width: 15%;
    max-width: 10%;
}

.contenido h1{
    margin: 3vw;
    color: color6;
}

.contenido p{
    font-size: 1.7vw;
}

.contenido{
    position: absolute;
    top: 3vw; left: 18vw;
    
    width: 80%;
}

@media screen and (max-width: 768px) {
    .contenido h1{
        font-size: 3.5vw;
    }

    .contenido p{
        font-size: 2vw;
    }

}